<% nav_links ||= navigation %>
<% level ||= 1 %>
<ul>
  <% for item in nav_links %>
  <li class="level<%= level %>">
    <% if item.resource %>
      <%= link_to item.title, item.resource, {
            class: ('current' if current_resource == item.resource) } %>
    <% else %>
      <%= item.title %>
    <% end %>
    <% unless item.children.empty? %>
      <%= partial '_layouts/pages-tree', locals: { nav_links: item.children, level: level + 1 } %>
    <% end %>
  </li>
  <% end %>
</ul>
